<div class="flex space-x-4 text-gray-700">
    <div class="menu mt-1 text-xl">
        <a routerLink="/" class="text-gray-700"><i class="fas fa-store"></i></a>
    </div>

    <section class="search relative flex-grow">
        <form [formGroup]="searchForm" (ngSubmit)="querySearch()">
            <input formControlName="search"
                   type="search"
                   placeholder="Buscar productos"
                   class="appearance-none leading-tight focus:outline-none border-2 border-gray-200 rounded bg-white w-full px-4 py-2 text-gray-600 text-sm focus:border-teal-500">
            <i class="fas fa-search absolute right-0 mt-3 pr-4 text-gray-700"></i>
        </form>
    </section>

    <div class="shopping-cart mt-1 text-xl">
        <a [routerLink]="['/shopping-cart']" class="text-gray-700">
            <i class="fas fa-shopping-cart"></i>
            <span
                  class="total-products h-5 w-5 rounded-full absolute top-0 right-0 mt-1 mr-1 bg-red-500 text-white text-center leading-5">
                {{ shoppingCart?.totalProducts() }}
            </span>
        </a>
    </div>
</div>