<!-- top bar -->
<mat-toolbar fxLayout="row" class="main-top-bar">
  <!-- Links if unauthenticated -->
  <ng-container *ngIf="!(authenticated$ | async)">
    <a [routerLink]="['/']">Pascal</a>
    <span fxFlex="fill"></span>
    <a [routerLink]="['/sign-up']" class="mx-3">Crear cuenta</a>
    <a [routerLink]="['/login']" class="ml-3">Entrar</a>
  </ng-container>

  <!-- Links if authenticated -->
  <ng-container *ngIf="(authenticated$ | async)">
    <!-- sidebar toggle on mobile -->
    <button
      (click)="drawer.toggle()"
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <a [routerLink]="['/']" class="mx-3">Pascal</a>
    <div fxFlex="fill"></div>
    <button mat-icon-button (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </ng-container>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <!-- side navigation -->
  <mat-sidenav
    #drawer
    class="d-print-none sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) || mediaQueryList.matches ? 'over' : 'side'"
    [opened]="!(isHandset$ | async) && (authenticated$ | async)"
  >
    <mat-nav-list>
      <ng-container *ngFor="let menuItem of menuItems"> 
        <a *kirbyCan="menuItem.can" mat-list-item [routerLink]="menuItem.link" routerLinkActive="active">
          <mat-icon>{{ menuItem.icon }}</mat-icon>
          <span>{{ menuItem.label }}</span>
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <!-- main content -->
  <mat-sidenav-content>
    <!-- pages -->
    <div ngClass="px-10"  class="mb-5 border-green-500">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
