<mat-sidenav-container class="sidenav-container">

  <!-- side navigation -->
  <mat-sidenav #drawer class="d-print-none sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) || mediaQueryList.matches ? 'over' : 'side'"
               [opened]="!(isHandset$ | async) && (authenticated$ | async)">
    <mat-toolbar class="app-name">Pascal</mat-toolbar>
    <mat-nav-list>
      <a *ngFor="let menuItem of menuItems" mat-list-item [routerLink]="menuItem.link">
        <mat-icon>{{ menuItem.icon }}</mat-icon> {{ menuItem.label }}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- main content -->
  <mat-sidenav-content>

    <!-- top bar -->
    <mat-toolbar class="main-top-bar d-print-none">

      <!-- Links if unauthenticated -->
      <ng-container *ngIf="!(authenticated$ | async)">
        <a [routerLink]="['/']">Pascal</a>
        <div class="flex-fill"></div>
        <a [routerLink]="[ '/sign-up' ]">Crear cuenta</a>
        <a [routerLink]="[ '/login' ]">Entrar</a>
      </ng-container>

      <!-- Links if authenticated -->
      <ng-container *ngIf="authenticated$ | async">
        <!-- sidebar toggle on mobile -->
        <button *ngIf="isHandset$ | async" (click)="drawer.toggle()" type="button" aria-label="Toggle sidenav"
                mat-icon-button>
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <div class="flex-fill"></div>
        <button mat-icon-button (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </ng-container>
    </mat-toolbar>

    <!-- pages -->
    <div class="container-fluid">
      <div class="m-4">
        <ng-content></ng-content>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>