.main-top-bar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-drawer-side {
  border: 0;
}

.sidenav-container {
  height: 100%;
  width: 100%;

  mat-nav-list {
    height: 100%;

    .mat-list-item {
      font-size: 14px;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      width: auto;

      mat-icon {
        margin-right: 12px;
        margin-left: 10px;
        font-size: 20px;
      }

      span {
        padding-right: 25px;
      }
    }
  }
}
