@import '~@angular/material/theming';

@mixin sidebar-layout-theme($theme) {
  $background: map-get($theme, background);
  $primary-color: map-get($theme, primary);

  .main-top-bar {
    background-color: mat-color($background, background);
  }

  .mat-drawer-side {
    background-color: none;
  }

  .sidenav-container {
    mat-nav-list {
      background-color: mat-color($background, background);
    }

    .mat-list-item:hover {
      background-color: mat-color($primary-color, lighter, 0.2);
    }
    .mat-list-item.active {
      border-left: 4px solid mat-color($primary-color);
      color: mat-color($primary-color, text);
    }
  }
}
