<!-- top bar -->
<mat-toolbar color="primary" class="flex flex-row main-top-bar">
  <ng-container *ngIf="!(authenticated$ | async)">
    <a [routerLink]="['/']">Pascal</a>
    <div class="flex-grow"></div>
    <a [routerLink]="['/sign-up']" class="mx-3">Crear cuenta</a>
    <a [routerLink]="['/login']" class="ml-3">Entrar</a>
  </ng-container>

  <ng-container *ngIf="(authenticated$ | async)">
    <!-- sidebar toggle on mobile -->
    <button (click)="drawer.toggle()"
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button>
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <a [routerLink]="['/']" class="mx-3">Pascal</a>
    <div class="flex-grow"></div>
    <button mat-icon-button (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </ng-container>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <!-- side navigation -->
  <mat-sidenav #drawer
               class="sidenav"
               fixedInViewport="false"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) || mediaQueryList.matches ? 'over' : 'side'"
               [opened]="!(isHandset$ | async) && (authenticated$ | async)">
    <mat-nav-list>
      <a mat-list-item routerLink="/welcome" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <ng-container *ngFor="let menuItem of menuItems">
        <a *kirbyCanAny="menuItem.can" mat-list-item [routerLink]="menuItem.link" routerLinkActive="active">
          <mat-icon>{{ menuItem.icon }}</mat-icon>
          <span>{{ menuItem.label }}</span>
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="my-5 px-4 md:px-14">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
