<div class="header">
    <shop-main-header [shoppingCart]="shoppingCart$ | async"></shop-main-header>
</div>

<section class="search my-4">
    <input type="search" placeholder="Buscar productos"
           class="border-2 border-gray-200 rounded bg-white w-full px-4 py-2 text-gray-600 text-sm focus:border-teal-500">
</section>

<section class="categories my-4">
    <h2 class="text-xl mb-2">Categorías</h2>

    <div class="categories-list w-full overflow-auto p-2">
        <div *ngFor="let category of (categories$ | async)?.data"
             class="relative inline-block overflow-hidden border rounded border-gray-500 bg-gray-400 h-24 w-40 mr-5">
            <img *ngIf="category.image_url !== ''" [src]="category.image_url" [alt]="category.name"
                 class="object-cover">
            <div class="absolute inset-x-0 bottom-0 text-white font-medium text-sm text-center p-2">
                <a [routerLink]="[category.slug, 'c']" class="no-underline text-white shadow">
                    {{ category.name }}
                </a>
            </div>
        </div>
    </div>
</section>

<section *ngFor="let category of (categories$ | async)?.data" class="category-products mt-5">
    <h3 class="text-xl mb-3">{{ category.name }}</h3>

    <div *ngFor="let product of category.firstTenProducts" class="products my-3">
        <shop-product [product]="product" [shoppingCart]="shoppingCart$ | async" (add)="addProduct($event)"
                      (remove)="removeProduct($event)">
        </shop-product>
    </div>
</section>