<div class="container px-4">
    <div class="flex items-baseline text-gray-700">
        <div class="flex-initial text-2xl py-2">ShopApp</div>
        <div class="flex-auto text-right">
            <a routerLink="sign-in" class="hover:underline">Comenzar</a>
        </div>
    </div>

    <div class="landing_cover bg-gray-100 h-64 py-1 px-4 mt-4 rounded-md shadow">
        <div class="slogan text-2xl text-center mt-4 text-gray-700 font-medium">
            ¡Todo en la puerta de tu casa!
        </div>

        <div class="text-center mt-20">
            <a routerLink="sign-up" class="inline-block rounded-md text-gray-100 bg-gray-500 hover:opacity-100 opacity-75 px-3 py-2 mx-2">Crea tu cuenta</a>
        </div>
    </div>
</div>