<kirby-api-errors [apiError]="errors"></kirby-api-errors>

<form [formGroup]="form" (ngSubmit)="submitForm()">
  <mat-form-field class="w-full">
    <mat-label>First name</mat-label>
    <input formControlName="first_name" matInput type="text">
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Last name</mat-label>
    <input formControlName="last_name" matInput type="text">
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>No. Celular</mat-label>
    <input formControlName="phone_number" matInput type="number">
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput type="email">
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Password</mat-label>
    <input formControlName="password" matInput type="password">
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>Password confirmation</mat-label>
    <input formControlName="password_confirmation" matInput type="password">
  </mat-form-field>

  <div class="text-center">
    <button [disabled]="disableButton" mat-raised-button type="submit" color="primary">Entrar</button>
  </div>
</form>