<div class="flex flex-row items-center my-10">
  <span class="pr-3 font-bold text-2xl">Pascal</span>
  <span class="flex-shrink text-base">Sistema de pesaje</span>
  <span class="flex-grow"></span>
  <a routerLink="login" class="text-base text-blue-700">Iniciar sesión</a>
</div>

<div *ngIf="weighingMachineAvailable">
  <div class="flex flex-row gap-4 my-5">
    <button mat-stroked-button (click)="loadPorts()" class="flex-initial">Recargar puertos</button>
    <button mat-stroked-button (click)="printTestTicket()" class="flex-initial">Imprimir Ticket de Prueba</button>
    <div class="flex-grow"></div>
    <pre class="bg-blue-600">{{ portData$ | async }}</pre>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Vendor</th>
        <th>Product</th>
        <th>Path</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let port of serialPorts$ | async">
        <td class="text-center">{{ port.vendorId }}</td>
        <td class="text-center">{{ port.productId }}</td>
        <td class="text-center">
          <button mat-button (click)="selectPort(port.path)" type="button" [color]="getPortButtonColor(port.path)">
            {{ port.path }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
